*{
  margin: 50px auto;padding: 10px;

}


.App {
  text-align: center;
  border: 2px solid black;
  height: 50%;
  width: 50%;
  background-color: rgb(177, 204, 204);
  box-shadow: 5px 5px 5px black;
}
.box{
  font-size: larger;
}
